services/katm-mip/src/main/resources/wsdl/GCPDataDoc-v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://fido.com/EasuEGServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://fido.com/EasuEGServices" xmlns:sch="http://fido.com/EasuEGServices" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://fido.com/EasuEGServices" xmlns:s="http://fido.com/EasuEGServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="GetDataByDocRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Data" type="xs:string"/>
                        <xs:element name="Signature" type="xs:string"/>
                        <xs:element name="PublicCert" type="xs:string"/>
                        <xs:element name="SignDate" type="xs:dateTime"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetDataByDocResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Result" type="xs:string"/>
                        <xs:element name="Data" type="xs:string"/>
                        <xs:element name="Comments" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="GetDataByDocRequest">
    <wsdl:part name="GetDataByDocRequest" element="tns:GetDataByDocRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetDataByDocResponse">
    <wsdl:part name="GetDataByDocResponse" element="tns:GetDataByDocResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="getDatabyDoс">
    <wsdl:operation name="GetDataByDoc">
      <wsdl:input name="GetDataByDocRequest" message="tns:GetDataByDocRequest">
    </wsdl:input>
      <wsdl:output name="GetDataByDocResponse" message="tns:GetDataByDocResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="getDatabyDoсSoap11" type="tns:getDatabyDoс">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetDataByDoc">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetDataByDocRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetDataByDocResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="getDatabyDoсService">
    <wsdl:port name="getDatabyDoсSoap11" binding="tns:getDatabyDoсSoap11">
      <soap:address location="https://apimgw.egov.uz:8243/gcp/datedoc/v1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
