services/katm-mip/src/main/resources/wsdl/GetAddress.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:mw="http://www.mobicware.com"
             xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:tns="urn:megaware:/mediate/ips/MOI/GetAddress/GetAddress.wsdl"
             xmlns:wsa="http://www.w3.org/2005/08/addressing"
             targetNamespace="urn:megaware:/mediate/ips/MOI/GetAddress/GetAddress.wsdl">
    <types>
        <s:schema targetNamespace="urn:megaware:/mediate/ips/MOI/GetAddress/GetAddress.wsdl">
            <s:element mw:isEncrypt="no" name="Request">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="1" mw:column="" mw:delimiter="" mw:description=""
                                   mw:encoding="Plain" mw:function="" mw:isCondition="no" mw:isEncrypt="no"
                                   mw:length="0" mw:preamble="" name="Pin" type="s:string"></s:element>
                        <s:element maxOccurs="1" minOccurs="1" mw:column="" mw:delimiter="" mw:description=""
                                   mw:encoding="Plain" mw:function="" mw:isCondition="no" mw:isEncrypt="no"
                                   mw:length="0" mw:preamble="" name="Guid" type="s:string"></s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element mw:isEncrypt="no" name="ResponseModel">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="1" mw:column="" mw:delimiter="" mw:description=""
                                   mw:encoding="Plain" mw:function="" mw:isCondition="no" mw:isEncrypt="no"
                                   mw:length="0" mw:preamble="" name="pPinpp" type="s:long"></s:element>
                        <s:element maxOccurs="1" minOccurs="1" mw:column="" mw:delimiter="" mw:description=""
                                   mw:encoding="Plain" mw:isCondition="no" mw:isEncrypt="no" mw:length="0"
                                   mw:preamble="" mw:tableName="" name="pPermanentAddress">
                            <s:complexType>
                                <s:sequence>
                                    <s:element maxOccurs="1" minOccurs="1" mw:column="" mw:delimiter=""
                                               mw:description="" mw:encoding="Plain" mw:function="" mw:isCondition="no"
                                               mw:isEncrypt="no" mw:length="0" mw:preamble="" name="pCountry"
                                               type="s:string"></s:element>
                                    <s:element maxOccurs="1" minOccurs="1" mw:column="" mw:delimiter=""
                                               mw:description="" mw:encoding="Plain" mw:function="" mw:isCondition="no"
                                               mw:isEncrypt="no" mw:length="0" mw:preamble="" name="pRegion"
                                               type="s:string"></s:element>
                                    <s:element maxOccurs="1" minOccurs="1" mw:column="" mw:delimiter=""
                                               mw:description="" mw:encoding="Plain" mw:function="" mw:isCondition="no"
                                               mw:isEncrypt="no" mw:length="0" mw:preamble="" name="pDistrict"
                                               type="s:string"></s:element>
                                    <s:element maxOccurs="1" minOccurs="1" mw:column="" mw:delimiter=""
                                               mw:description="" mw:encoding="Plain" mw:function="" mw:isCondition="no"
                                               mw:isEncrypt="no" mw:length="0" mw:preamble="" name="pPlace"
                                               type="s:string"></s:element>
                                    <s:element maxOccurs="1" minOccurs="1" mw:column="" mw:delimiter=""
                                               mw:description="" mw:encoding="Plain" mw:function="" mw:isCondition="no"
                                               mw:isEncrypt="no" mw:length="0" mw:preamble="" name="pStreet"
                                               type="s:string"></s:element>
                                    <s:element maxOccurs="1" minOccurs="1" mw:column="" mw:delimiter=""
                                               mw:description="" mw:encoding="Plain" mw:function="" mw:isCondition="no"
                                               mw:isEncrypt="no" mw:length="0" mw:preamble="" name="pAddress"
                                               type="s:string"></s:element>
                                    <s:element maxOccurs="1" minOccurs="1" mw:column="" mw:delimiter=""
                                               mw:description="" mw:encoding="Plain" mw:function="" mw:isCondition="no"
                                               mw:isEncrypt="no" mw:length="0" mw:preamble="" name="pHouse"
                                               type="s:string"></s:element>
                                    <s:element maxOccurs="1" minOccurs="1" mw:column="" mw:delimiter=""
                                               mw:description="" mw:encoding="Plain" mw:function="" mw:isCondition="no"
                                               mw:isEncrypt="no" mw:length="0" mw:preamble="" name="pBlock"
                                               type="s:string"></s:element>
                                    <s:element maxOccurs="1" minOccurs="1" mw:column="" mw:delimiter=""
                                               mw:description="" mw:encoding="Plain" mw:function="" mw:isCondition="no"
                                               mw:isEncrypt="no" mw:length="0" mw:preamble="" name="pFlat"
                                               type="s:string"></s:element>
                                    <s:element maxOccurs="1" minOccurs="1" mw:column="" mw:delimiter=""
                                               mw:description="" mw:encoding="Plain" mw:function="" mw:isCondition="no"
                                               mw:isEncrypt="no" mw:length="0" mw:nillable="true" mw:preamble=""
                                               name="pRegdate" type="s:string"></s:element>
                                    <s:element maxOccurs="1" minOccurs="1" mw:column="" mw:delimiter=""
                                               mw:description="" mw:encoding="Plain" mw:function="" mw:isCondition="no"
                                               mw:isEncrypt="no" mw:length="0" mw:nillable="true" mw:preamble=""
                                               name="pRegtill" type="s:string"></s:element>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                        <s:element maxOccurs="1" minOccurs="0" mw:column="" mw:delimiter="" mw:description=""
                                   mw:encoding="Plain" mw:isCondition="no" mw:isEncrypt="no" mw:length="0"
                                   mw:preamble="" mw:tableName="" name="pTemproaryAddress">
                            <s:complexType>
                                <s:sequence>
                                    <s:element maxOccurs="1" minOccurs="1" mw:column="" mw:delimiter=""
                                               mw:description="" mw:encoding="Plain" mw:function="" mw:isCondition="no"
                                               mw:isEncrypt="no" mw:length="0" mw:preamble="" name="pCountry"
                                               type="s:string"></s:element>
                                    <s:element maxOccurs="1" minOccurs="1" mw:column="" mw:delimiter=""
                                               mw:description="" mw:encoding="Plain" mw:function="" mw:isCondition="no"
                                               mw:isEncrypt="no" mw:length="0" mw:nillable="true" mw:preamble=""
                                               name="pRegion" type="s:string"></s:element>
                                    <s:element maxOccurs="1" minOccurs="1" mw:column="" mw:delimiter=""
                                               mw:description="" mw:encoding="Plain" mw:function="" mw:isCondition="no"
                                               mw:isEncrypt="no" mw:length="0" mw:nillable="true" mw:preamble=""
                                               name="pDistrict" type="s:string"></s:element>
                                    <s:element maxOccurs="1" minOccurs="1" mw:column="" mw:delimiter=""
                                               mw:description="" mw:encoding="Plain" mw:function="" mw:isCondition="no"
                                               mw:isEncrypt="no" mw:length="0" mw:nillable="true" mw:preamble=""
                                               name="pPlace" type="s:string"></s:element>
                                    <s:element maxOccurs="1" minOccurs="1" mw:column="" mw:delimiter=""
                                               mw:description="" mw:encoding="Plain" mw:function="" mw:isCondition="no"
                                               mw:isEncrypt="no" mw:length="0" mw:nillable="true" mw:preamble=""
                                               name="pStreet" type="s:string"></s:element>
                                    <s:element maxOccurs="1" minOccurs="1" mw:column="" mw:delimiter=""
                                               mw:description="" mw:encoding="Plain" mw:function="" mw:isCondition="no"
                                               mw:isEncrypt="no" mw:length="0" mw:preamble="" name="pAddress"
                                               type="s:string"></s:element>
                                    <s:element maxOccurs="1" minOccurs="1" mw:column="" mw:delimiter=""
                                               mw:description="" mw:encoding="Plain" mw:function="" mw:isCondition="no"
                                               mw:isEncrypt="no" mw:length="0" mw:preamble="" name="pHouse"
                                               type="s:string"></s:element>
                                    <s:element maxOccurs="1" minOccurs="1" mw:column="" mw:delimiter=""
                                               mw:description="" mw:encoding="Plain" mw:function="" mw:isCondition="no"
                                               mw:isEncrypt="no" mw:length="0" mw:preamble="" name="pBlock"
                                               type="s:string"></s:element>
                                    <s:element maxOccurs="1" minOccurs="1" mw:column="" mw:delimiter=""
                                               mw:description="" mw:encoding="Plain" mw:function="" mw:isCondition="no"
                                               mw:isEncrypt="no" mw:length="0" mw:preamble="" name="pFlat"
                                               type="s:string"></s:element>
                                    <s:element maxOccurs="1" minOccurs="1" mw:column="" mw:delimiter=""
                                               mw:description="" mw:encoding="Plain" mw:function="" mw:isCondition="no"
                                               mw:isEncrypt="no" mw:length="0" mw:nillable="true" mw:preamble=""
                                               name="pRegdate" type="s:string"></s:element>
                                    <s:element maxOccurs="1" minOccurs="1" mw:column="" mw:delimiter=""
                                               mw:description="" mw:encoding="Plain" mw:function="" mw:isCondition="no"
                                               mw:isEncrypt="no" mw:length="0" mw:nillable="true" mw:preamble=""
                                               name="pRegtill" type="s:string"></s:element>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                        <s:element maxOccurs="1" minOccurs="1" mw:column="" mw:delimiter="" mw:description=""
                                   mw:encoding="Plain" mw:function="" mw:isCondition="no" mw:isEncrypt="no"
                                   mw:length="0" mw:preamble="" name="pRequestGuid" type="s:string"></s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </types>
    <message name="receive1InputMessage">
        <part element="tns:Request" name="receive1Input"></part>
    </message>
    <message name="receive1OutputMessage">
        <part element="tns:ResponseModel" name="receive1Output"></part>
    </message>
    <portType name="GetAddressPortType">
        <operation name="receive1">
            <input message="tns:receive1InputMessage" name="receive1Input"></input>
            <output message="tns:receive1OutputMessage" name="receive1Output"></output>
        </operation>
    </portType>
    <binding name="GetAddressSOAP12Binding" type="tns:GetAddressPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"></soap12:binding>
        <operation name="receive1">
            <soap12:operation soapAction="/mediate/ips/MOI/GetAddress" style="document"></soap12:operation>
            <input name="receive1Input">
                <soap12:body use="literal"></soap12:body>
            </input>
            <output name="receive1Output">
                <soap12:body use="literal"></soap12:body>
            </output>
        </operation>
    </binding>
    <binding name="GetAddressSOAP11Binding" type="tns:GetAddressPortType">
        <soap11:binding transport="http://schemas.xmlsoap.org/soap/http"></soap11:binding>
        <operation name="receive1">
            <soap11:operation soapAction="/mediate/ips/MOI/GetAddress" style="document"></soap11:operation>
            <input name="receive1Input">
                <soap11:body use="literal"></soap11:body>
            </input>
            <output name="receive1Output">
                <soap11:body use="literal"></soap11:body>
            </output>
        </operation>
    </binding>
    <binding name="GetAddressHTTPGETBinding" type="tns:GetAddressPortType">
        <http:binding verb="GET"></http:binding>
        <operation name="receive1">
            <http:operation location="/Request"></http:operation>
            <input name="receive1Input">
                <http:urlEncoded></http:urlEncoded>
            </input>
            <output name="receive1Output">
                <mime:mimeXml part="Body"></mime:mimeXml>
            </output>
        </operation>
    </binding>
    <binding name="GetAddressHTTPPOSTXMLBinding" type="tns:GetAddressPortType">
        <http:binding verb="POST"></http:binding>
        <operation name="receive1">
            <http:operation location="/Request"></http:operation>
            <input name="receive1Input">
                <mime:content part="receive1Input" type="application/xml"></mime:content>
            </input>
            <output name="receive1Output">
                <mime:mimeXml part="Body"></mime:mimeXml>
            </output>
        </operation>
    </binding>
    <binding name="GetAddressHTTPPOSTFORMBinding" type="tns:GetAddressPortType">
        <http:binding verb="POST"></http:binding>
        <operation name="receive1">
            <http:operation location="/Request"></http:operation>
            <input name="receive1Input">
                <mime:content part="receive1Input" type="application/x-www-form-urlencoded"></mime:content>
            </input>
            <output name="receive1Output">
                <mime:mimeXml part="Body"></mime:mimeXml>
            </output>
        </operation>
    </binding>
    <binding name="GetAddressHTTPPOSTJSONBinding" type="tns:GetAddressPortType">
        <http:binding verb="POST"></http:binding>
        <operation name="receive1">
            <http:operation location="/Request"></http:operation>
            <input name="receive1Input">
                <mime:content part="receive1Input" type="application/json"></mime:content>
            </input>
            <output name="receive1Output">
                <mime:mimeXml part="Body"></mime:mimeXml>
            </output>
        </operation>
    </binding>
    <service name="GetAddressService">
        <port binding="tns:GetAddressSOAP12Binding" name="GetAddressSOAP12BindingPort">
            <soap12:address location="https://ips.gov.uz:443/mediate/ips/MOI/GetAddress"></soap12:address>
        </port>
        <port binding="tns:GetAddressSOAP11Binding" name="GetAddressSOAP11BindingPort">
            <soap11:address location="https://ips.gov.uz:443/mediate/ips/MOI/GetAddress"></soap11:address>
        </port>
        <port binding="tns:GetAddressHTTPGETBinding" name="GetAddressHTTPGETBindingPort">
            <http:address location="https://ips.gov.uz:443/mediate/ips/MOI/GetAddress"></http:address>
        </port>
        <port binding="tns:GetAddressHTTPPOSTXMLBinding" name="GetAddressHTTPPOSTXMLBindingPort">
            <http:address location="https://ips.gov.uz:443/mediate/ips/MOI/GetAddress"></http:address>
        </port>
        <port binding="tns:GetAddressHTTPPOSTFORMBinding" name="GetAddressHTTPPOSTFORMBindingPort">
            <http:address location="https://ips.gov.uz:443/mediate/ips/MOI/GetAddress"></http:address>
        </port>
        <port binding="tns:GetAddressHTTPPOSTJSONBinding" name="GetAddressHTTPPOSTJSONBindingPort">
            <http:address location="https://ips.gov.uz:443/mediate/ips/MOI/GetAddress"></http:address>
        </port>
    </service>
</definitions>