services/katm-mip/src/main/resources/wsdl/GetCitizenInfoServiceNew1.wsdl

<definitions xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:mw="http://www.mobicware.com" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:megaware:/mediate/ips/MOI/GetCitizenInfoServiceNew/GetCitizenInfoServiceNew.wsdl" xmlns:wsa="http://www.w3.org/2005/08/addressing" targetNamespace="urn:megaware:/mediate/ips/MOI/GetCitizenInfoServiceNew/GetCitizenInfoServiceNew.wsdl">
<types>
<s:schema targetNamespace="urn:megaware:/mediate/ips/MOI/GetCitizenInfoServiceNew/GetCitizenInfoServiceNew.wsdl">
<s:element mw:isEncrypt="no" mw:typeName="PinppAddress" name="PinppAddress">
<s:complexType>
<s:sequence>
<s:element maxOccurs="1" minOccurs="0" mw:column="" mw:delimiter="" mw:encoding="Plain" mw:function="" mw:isCondition="no" mw:isEncrypt="no" mw:length="0" mw:nillable="true" mw:preamble="" name="pinpp" type="xs:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element mw:isEncrypt="no" mw:typeName="PinppAddressResponse" name="PinppAddressResponse">
<s:complexType>
<s:sequence>
<s:element maxOccurs="1" minOccurs="0" mw:column="" mw:delimiter="" mw:encoding="Plain" mw:isCondition="no" mw:isEncrypt="no" mw:length="0" mw:nillable="true" mw:preamble="" mw:tableName="" mw:typeName="_InfoResponseModel" name="PinppAddressResult">
<s:complexType>
<s:sequence>
<s:element maxOccurs="1" minOccurs="0" mw:column="" mw:delimiter="" mw:encoding="Plain" mw:function="" mw:isCondition="no" mw:isEncrypt="no" mw:length="0" mw:nillable="true" mw:preamble="" name="pResult" type="xs:integer"/>
<s:element maxOccurs="1" minOccurs="0" mw:column="" mw:delimiter="" mw:encoding="Plain" mw:function="" mw:isCondition="no" mw:isEncrypt="no" mw:length="0" mw:nillable="true" mw:preamble="" name="AnswereMessage" type="xs:string"/>
<s:element maxOccurs="1" minOccurs="0" mw:column="" mw:delimiter="" mw:encoding="Plain" mw:function="" mw:isCondition="no" mw:isEncrypt="no" mw:length="0" mw:nillable="true" mw:preamble="" name="AnswereComment" type="xs:string"/>
<s:element maxOccurs="1" minOccurs="0" mw:column="" mw:delimiter="" mw:encoding="Plain" mw:function="" mw:isCondition="no" mw:isEncrypt="no" mw:length="0" mw:nillable="true" mw:preamble="" name="AnswereId" type="xs:integer"/>

<s:element mw:isEncrypt="no" name="Data">
	<s:complexType>
		<s:sequence>
			<s:element mw:isEncrypt="no" name="PermanentRegistration">
				<s:complexType>
					<s:sequence>
						<s:element mw:isEncrypt="no" name="District">
							<s:complexType>
								<s:sequence>
									<s:element maxOccurs="1" minOccurs="0" mw:column="" mw:delimiter="" mw:encoding="Plain" mw:function="" mw:isCondition="no" mw:isEncrypt="no" mw:length="0" mw:nillable="true" mw:preamble="" name="IdValue" type="xs:string"/>
									<s:element maxOccurs="1" minOccurs="0" mw:column="" mw:delimiter="" mw:encoding="Plain" mw:function="" mw:isCondition="no" mw:isEncrypt="no" mw:length="0" mw:nillable="true" mw:preamble="" name="Id" type="xs:string"/>
									<s:element maxOccurs="1" minOccurs="0" mw:column="" mw:delimiter="" mw:encoding="Plain" mw:function="" mw:isCondition="no" mw:isEncrypt="no" mw:length="0" mw:nillable="true" mw:preamble="" name="Value" type="xs:string"/>
								</s:sequence>
							</s:complexType>
						</s:element>
						<s:element mw:isEncrypt="no" name="Country">
							<s:complexType>
								<s:sequence>
									<s:element maxOccurs="1" minOccurs="0" mw:column="" mw:delimiter="" mw:encoding="Plain" mw:function="" mw:isCondition="no" mw:isEncrypt="no" mw:length="0" mw:nillable="true" mw:preamble="" name="IdValue" type="xs:string"/>
									<s:element maxOccurs="1" minOccurs="0" mw:column="" mw:delimiter="" mw:encoding="Plain" mw:function="" mw:isCondition="no" mw:isEncrypt="no" mw:length="0" mw:nillable="true" mw:preamble="" name="Id" type="xs:string"/>
									<s:element maxOccurs="1" minOccurs="0" mw:column="" mw:delimiter="" mw:encoding="Plain" mw:function="" mw:isCondition="no" mw:isEncrypt="no" mw:length="0" mw:nillable="true" mw:preamble="" name="Value" type="xs:string"/>
								</s:sequence>
							</s:complexType>
						</s:element>
						<s:element mw:isEncrypt="no" name="Region">
							<s:complexType>
								<s:sequence>
									<s:element maxOccurs="1" minOccurs="0" mw:column="" mw:delimiter="" mw:encoding="Plain" mw:function="" mw:isCondition="no" mw:isEncrypt="no" mw:length="0" mw:nillable="true" mw:preamble="" name="IdValue" type="xs:string"/>
									<s:element maxOccurs="1" minOccurs="0" mw:column="" mw:delimiter="" mw:encoding="Plain" mw:function="" mw:isCondition="no" mw:isEncrypt="no" mw:length="0" mw:nillable="true" mw:preamble="" name="Id" type="xs:string"/>
									<s:element maxOccurs="1" minOccurs="0" mw:column="" mw:delimiter="" mw:encoding="Plain" mw:function="" mw:isCondition="no" mw:isEncrypt="no" mw:length="0" mw:nillable="true" mw:preamble="" name="Value" type="xs:string"/>
								</s:sequence>
							</s:complexType>
						</s:element>
						<s:element maxOccurs="1" minOccurs="0" mw:column="" mw:delimiter="" mw:encoding="Plain" mw:function="" mw:isCondition="no" mw:isEncrypt="no" mw:length="0" mw:nillable="true" mw:preamble="" name="Cadastre" type="xs:string"/>
						<s:element maxOccurs="1" minOccurs="0" mw:column="" mw:delimiter="" mw:encoding="Plain" mw:function="" mw:isCondition="no" mw:isEncrypt="no" mw:length="0" mw:nillable="true" mw:preamble="" name="Address" type="xs:string"/>
						<s:element maxOccurs="1" minOccurs="0" mw:column="" mw:delimiter="" mw:encoding="Plain" mw:function="" mw:isCondition="no" mw:isEncrypt="no" mw:length="0" mw:nillable="true" mw:preamble="" name="RegistrationDate" type="xs:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element mw:isEncrypt="no" name="TemproaryRegistrations">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" mw:column="" mw:delimiter="" mw:encoding="Plain" mw:function="" mw:isCondition="no" mw:isEncrypt="no" mw:length="0" mw:nillable="true" mw:preamble="" name="TemproaryRegistrations" type="xs:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:sequence>
	</s:complexType>
</s:element>
<s:element maxOccurs="1" minOccurs="0" mw:column="" mw:delimiter="" mw:encoding="Plain" mw:function="" mw:isCondition="no" mw:isEncrypt="no" mw:length="0" mw:nillable="true" mw:preamble="" name="pComment" type="xs:string"/>
</s:sequence>
</s:complexType>
</s:element>
</s:sequence>
</s:complexType>
</s:element>
</s:schema>
</types>
<message name="receive2InputMessage">
<part element="tns:PinppAddress" name="receive2Input"/>
</message>
<message name="receive2OutputMessage">
<part element="tns:PinppAddressResponse" name="receive2Output"/>
</message>
<portType name="GetCitizenInfoServiceNewPortType">
<operation name="receive2">
<input message="tns:receive2InputMessage" name="receive2Input"/>
<output message="tns:receive2OutputMessage" name="receive2Output"/>
</operation>
</portType>
<binding name="GetCitizenInfoServiceNewSOAP12Binding" type="tns:GetCitizenInfoServiceNewPortType">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="receive2">
<soap12:operation soapAction="/mediate/ips/MOI/GetCitizenInfoServiceNew" style="document"/>
<input name="receive2Input">
<soap12:body use="literal"/>
</input>
<output name="receive2Output">
<soap12:body use="literal"/>
</output>
</operation>
</binding>
<binding name="GetCitizenInfoServiceNewSOAP11Binding" type="tns:GetCitizenInfoServiceNewPortType">
<soap11:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="receive2">
<soap11:operation soapAction="/mediate/ips/MOI/GetCitizenInfoServiceNew" style="document"/>
<input name="receive2Input">
<soap11:body use="literal"/>
</input>
<output name="receive2Output">
<soap11:body use="literal"/>
</output>
</operation>
</binding>
<binding name="GetCitizenInfoServiceNewHTTPGETBinding" type="tns:GetCitizenInfoServiceNewPortType">
<http:binding verb="GET"/>
<operation name="receive2">
<http:operation location="/PinppAddress"/>
<input name="receive2Input">
<http:urlEncoded/>
</input>
<output name="receive2Output">
<mime:mimeXml part="Body"/>
</output>
</operation>
</binding>
<binding name="GetCitizenInfoServiceNewHTTPPOSTXMLBinding" type="tns:GetCitizenInfoServiceNewPortType">
<http:binding verb="POST"/>
<operation name="receive2">
<http:operation location="/PinppAddress"/>
<input name="receive2Input">
<mime:content part="receive2Input" type="application/xml"/>
</input>
<output name="receive2Output">
<mime:mimeXml part="Body"/>
</output>
</operation>
</binding>
<binding name="GetCitizenInfoServiceNewHTTPPOSTFORMBinding" type="tns:GetCitizenInfoServiceNewPortType">
<http:binding verb="POST"/>
<operation name="receive2">
<http:operation location="/PinppAddress"/>
<input name="receive2Input">
<mime:content part="receive2Input" type="application/x-www-form-urlencoded"/>
</input>
<output name="receive2Output">
<mime:mimeXml part="Body"/>
</output>
</operation>
</binding>
<binding name="GetCitizenInfoServiceNewHTTPPOSTJSONBinding" type="tns:GetCitizenInfoServiceNewPortType">
<http:binding verb="POST"/>
<operation name="receive2">
<http:operation location="/PinppAddress"/>
<input name="receive2Input">
<mime:content part="receive2Input" type="application/json"/>
</input>
<output name="receive2Output">
<mime:mimeXml part="Body"/>
</output>
</operation>
</binding>
<service name="GetCitizenInfoServiceNewService">
<port binding="tns:GetCitizenInfoServiceNewSOAP12Binding" name="GetCitizenInfoServiceNewSOAP12BindingPort">
<soap12:address location="https://ips.gov.uz:443/mediate/ips/MOI/GetCitizenInfoServiceNew"/>
</port>
<port binding="tns:GetCitizenInfoServiceNewSOAP11Binding" name="GetCitizenInfoServiceNewSOAP11BindingPort">
<soap11:address location="https://ips.gov.uz:443/mediate/ips/MOI/GetCitizenInfoServiceNew"/>
</port>
<port binding="tns:GetCitizenInfoServiceNewHTTPGETBinding" name="GetCitizenInfoServiceNewHTTPGETBindingPort">
<http:address location="https://ips.gov.uz:443/mediate/ips/MOI/GetCitizenInfoServiceNew"/>
</port>
<port binding="tns:GetCitizenInfoServiceNewHTTPPOSTXMLBinding" name="GetCitizenInfoServiceNewHTTPPOSTXMLBindingPort">
<http:address location="https://ips.gov.uz:443/mediate/ips/MOI/GetCitizenInfoServiceNew"/>
</port>
<port binding="tns:GetCitizenInfoServiceNewHTTPPOSTFORMBinding" name="GetCitizenInfoServiceNewHTTPPOSTFORMBindingPort">
<http:address location="https://ips.gov.uz:443/mediate/ips/MOI/GetCitizenInfoServiceNew"/>
</port>
<port binding="tns:GetCitizenInfoServiceNewHTTPPOSTJSONBinding" name="GetCitizenInfoServiceNewHTTPPOSTJSONBindingPort">
<http:address location="https://ips.gov.uz:443/mediate/ips/MOI/GetCitizenInfoServiceNew"/>
</port>
</service>
</definitions>