services/katm-mip/src/main/resources/wsdl/WS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://deptorservice.mibcenter.mib.uz/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://deptorservice.mibcenter.mib.uz/" name="DebtorWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://deptorservice.mibcenter.mib.uz/" schemaLocation="http://localhost:8081/WS?xsd=1"/>
</xsd:schema>
</types>
<message name="getDebtorPhysicalByPinfl">
<part name="argument" type="tns:DebtorIndividualByPinflArgument"/>
</message>
<message name="getDebtorPhysicalByPinflResponse">
<part name="return" type="tns:debtorIndividualByPinflResult"/>
</message>
<message name="getDebtorPhysical">
<part name="argument" type="tns:DebtorIndividualArgument"/>
</message>
<message name="getDebtorPhysicalResponse">
<part name="return" type="tns:debtorIndividualResult"/>
</message>
<message name="getDebtorJuridical">
<part name="argument" type="tns:DebtorJuridicalArgument"/>
</message>
<message name="getDebtorJuridicalResponse">
<part name="return" type="tns:debtorJuridicalResult"/>
</message>
<portType name="DebtorWS">
<operation name="getDebtorPhysicalByPinfl">
<input wsam:Action="http://deptorservice.mibcenter.mib.uz/DebtorWS/getDebtorPhysicalByPinflRequest" message="tns:getDebtorPhysicalByPinfl"/>
<output wsam:Action="http://deptorservice.mibcenter.mib.uz/DebtorWS/getDebtorPhysicalByPinflResponse" message="tns:getDebtorPhysicalByPinflResponse"/>
</operation>
<operation name="getDebtorPhysical">
<input wsam:Action="http://deptorservice.mibcenter.mib.uz/DebtorWS/getDebtorPhysicalRequest" message="tns:getDebtorPhysical"/>
<output wsam:Action="http://deptorservice.mibcenter.mib.uz/DebtorWS/getDebtorPhysicalResponse" message="tns:getDebtorPhysicalResponse"/>
</operation>
<operation name="getDebtorJuridical">
<input wsam:Action="http://deptorservice.mibcenter.mib.uz/DebtorWS/getDebtorJuridicalRequest" message="tns:getDebtorJuridical"/>
<output wsam:Action="http://deptorservice.mibcenter.mib.uz/DebtorWS/getDebtorJuridicalResponse" message="tns:getDebtorJuridicalResponse"/>
</operation>
</portType>
<binding name="DebtorWSPortBinding" type="tns:DebtorWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="getDebtorPhysicalByPinfl">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://deptorservice.mibcenter.mib.uz/"/>
</input>
<output>
<soap:body use="literal" namespace="http://deptorservice.mibcenter.mib.uz/"/>
</output>
</operation>
<operation name="getDebtorPhysical">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://deptorservice.mibcenter.mib.uz/"/>
</input>
<output>
<soap:body use="literal" namespace="http://deptorservice.mibcenter.mib.uz/"/>
</output>
</operation>
<operation name="getDebtorJuridical">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://deptorservice.mibcenter.mib.uz/"/>
</input>
<output>
<soap:body use="literal" namespace="http://deptorservice.mibcenter.mib.uz/"/>
</output>
</operation>
</binding>
<service name="DebtorWSService">
<port name="DebtorWSPort" binding="tns:DebtorWSPortBinding">
<soap:address location="http://localhost:8081/WS"/>
</port>
</service>
</definitions>